body {
    background-color: #105e00;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    .PopUp {
        display: none;
        
        position: absolute;
        width: 90vw;
        height: 80vh;
        padding: 10vh 10vh;
        background-color: #00000044;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        .selector {
            height: unset;
            width: unset;
        }
        .cards {
            background-color: #00000044;
            width: 60vw;
            height: 400px;
            overflow-y: scroll;
            flex-direction: row;
            display: flex;
            gap: 20px;
            flex-shrink: 0;
            flex-wrap: wrap;
            .Card{
                background-color: black;
                width: 200px;
                height: 300px;
            }
        }
    }
    .Main {
        background-color: rgb(153, 197, 152);
        width: 80vw;
        height: 100vh;
        box-shadow: 0px 0px 100px black;
        overflow-y: scroll;
        scrollbar-color: rgb(153, 197, 152) rgb(117, 151, 117);
        display: flex;
        flex-shrink: 0;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        .Top {
            width: 100%;
            box-shadow: none;
            overflow-y: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            h1 {
                text-align: center;
                font-family: "Blaka Ink", system-ui;
                font-weight: 400;
                font-style: normal;
                font-size: 5rem;
                margin: 10px 0 10px;
            }
        }
        canvas {
            width: 1000px;
            height: 800px;
            border: 2px solid black;
        }
        .Bottom {
            width: 90%;
            p {
                margin: 0;
            }
        }
    }
}